.App {
  text-align: center;
}
.card,
.add_word_form {
  margin: 30px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: rgb(216, 201, 216);
}
.card {
  height: 270px;
  max-width: 200px;
  margin: auto;
}
