.App {
  text-align: center;
}
.card {
  height: auto;
  margin: 30px;
}
.card:active {
  transform: scale(0.98);
  transition: transform 0.5s;
}
.card_front,
.card_back {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: rgb(216, 201, 216);
}
.card_button {
  border-radius: 15px;
  background-color: rgba(251, 253, 98, 0.877);
  border: none;
  padding: 8px 15px;
  cursor: pointer;
}
.card_button:hover {
  transform: scale(0.95);
  transform: transform 0.5s;
}
